#buttons-container {
    justify-self: flex-end;
    align-self: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#buttons-container > button {
    margin: 10px;
    padding: 5px 15px;
}